:root {
  --bg-url: url();
}

.guess {
  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.guess__question-number {
  font-weight: 700;
}

.guess__header {
  color: white;
  text-shadow: 1px 1px 0 black;
}

.guess__question-number {
  text-align: end;
  @media screen and (max-width: 800px) {
    align-self: end;
  }
}

.guess__known-info {
  width: 100%;
  &::after {
    content: "";
    margin-top: 1em;
    width: 100%;
    display: block;
    border-bottom: 2px solid white;
  }
}

.guess__other-info {
  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;

    font-size: 22px;
  }
}

.guess__about {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0 auto;

  font-size: 50px;
  text-align: center;

  &::after {
    width: 60px;
    height: 60px;

    content: '';
    display: inline-block;
    background-image: var(--bg-url);
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 40px;

    position: absolute;
    top: -10px;
    right: 0;
  }

  @media screen and (max-width: 600px) {
    font-size: 30px;
  }
}

.guess__country {
  display: block;
  text-align: start;
  font-size: 50px;

  @media screen and (max-width: 600px) {
    font-size: 30px;
  }
}

.guess__city {
  display: block;
  text-align: start;
  font-size: 50px;

  @media screen and (max-width: 600px) {
    font-size: 30px;
  }
}

.guess__icon {
  width: 60px;

  position: absolute;
  top: 0;
  right: 0;
  font-size: 40px;
  margin-bottom: .5em;
}

.guess__input {
  margin-top: 2em;
  width: 100%;
  display: flex;
  align-items: normal;
}

.guess__search-bar {
  flex: 1 1 auto;

  padding: 0.2em;
  padding-left: 0;
  padding-bottom: 0;

  font-size: 30px;
  text-align: center;
  background-color: inherit;
  color: white;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;

  transition: border-bottom-color .2s ease-in-out;

  &::placeholder {
    opacity: .7;
    transition: opacity .5s ease;
  }

  &:focus {
    outline: none;
    border-bottom-color:rgba(255, 255, 255, 0.459);

    &::placeholder {
      opacity: 0;
      transition: opacity .5s ease;
    }
  }
}

.guess__temperature {
  margin-bottom: .5em;

  font-size: 40px;
}

.guess__search-bar-celsium {
  font-size: 40px;
}

.guess__other-info {
  margin-top: 2em;

  display: flex;
  justify-content: space-around;

  @media screen and (max-width: 600px) {
    font-size: 18px;
  }
}

.guess__result {
  margin-top: 2em;
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: 800px) {
    font-size: 20px;
  }
}

.card__next-btn {
  width: 100px;
  height: 100px;

  position: absolute;
  right: -125px;
  top: calc(50% - 50px);

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  background-color: rgba(0, 0, 0, 0.747);
  border-radius: 50%;

  transition: background-color 1.15s;

  path {
    transition: fill .15s;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.800);

    path {
      fill: white;
    }
  }

  @media screen and (max-width: 800px) {
    width: 50px;
    height: 50px;

    position: static;
    margin-top: 2em;

    svg {
      width: 30px;
      height: 30px;
    }
  }
}

// Scoreboard

.scoreboard__header {
  font-size: 35px;
  text-align: center;

  &::after {
    content: "";
    margin-top: .5em;
    width: 100%;
    display: block;
    border-bottom: 1px solid white;
  }
}

.scoreboard__description {
  font-size: 30px;
  text-align: center;

  margin-top: .5em;
}

.scoreboard__list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  &::after {
    content: "";
    margin-top: .5em;
    width: 100%;
    display: block;
    border-bottom: 1px solid white;
  }
}

.scoreboard__list {
  margin-top: 0.5em;
  list-style-position: inside;
}

.scoreboard__item {
  font-size: 20px;
}

.scoreboard__registration {
  margin-top: 0.5em;
}

.scoreboard__registration-header {
  font-size: 30px;
  text-align: center;
}

.scoreboard__form {
  display: flex;
  margin-top: 1em;
}

.scoreboard__search-bar {
  font-size: 30px;
  gap: .5em
}

.scoreboard__form-submit-btn {
  box-sizing: border-box;
  background-color: inherit;
  border: none;
  border-radius: 25px;

  path {
    transition: fill .25s;
  }

  &:hover {
    path {
      fill:rgba(0, 0, 0, 0.6)
    }
  }
  &:active {
    path {
      fill:rgba(0, 0, 0, 0.5)
    }
  }
}

.scoreboard__try-again-btn {
  width: 200px;
  height: 50px;

  display: block;
  margin: 2em auto 0;
  text-align: center;

  font-size: 15px;
  border-radius: 30px;
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);

  transition: background-color .15s;

  &:hover {
  background-color: rgba(0, 0, 0, 0.8);
  }

  &:active {
  background-color: rgba(0, 0, 0, 0.7);
  }
}
