@import "guess.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-size: 20px;
  // padding: 1em;

  overflow: hidden;
  background-color: rgb(255, 255, 255);
  background-position: 50% 50% !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.control-buttons {
  display: flex;
  justify-content: center;
  // gap: .5em;
}

.switch-mode-btn {
  width: 280px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-right: 1px solid white;
  color: rgba(255, 255, 255, 0.800);
  background-color: rgba(0, 0, 0, 0.747);

  transition: background-color .15s, color .15s;

  &:first-of-type {
    border-bottom-left-radius: 15% 60%;
  }
  &:last-of-type {
    border-right: none;
    border-bottom-right-radius: 15% 60%;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.800);
    color: white;
  }
}

.switch-mode-btn--active {
  background-color: rgba(0, 0, 0, 0.500);
  color: rgba(255, 255, 255, 0.500);

  &:hover {
    background-color: rgba(0, 0, 0, 0.500);
    color: rgba(255, 255, 255, 0.500);
  }
}

.card {
  max-width: 500px;
  width: 100%;

  position: relative;
  margin: 1em;
  padding: 2em;

  border-radius: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  color: white;
  background-color: rgba(0, 0, 0, 0.747);
}

.card__search {
  display: flex;
  align-items: center;
  gap: 1em;

  margin-bottom: 2em;
}

.card__search-bar {
  width: 100%;

  padding: 0.2em;
  padding-left: 0;

  font-size: 22px;
  text-align: center;
  background-color: inherit;
  color: white;

  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid white;

  transition: border-bottom-color .2s ease-in-out;

  &::placeholder {
    opacity: .7;
    transition: opacity .5s ease;
  }

  &:focus {
    outline: none;
    border-bottom-color:rgba(255, 255, 255, 0.459);

    &::placeholder {
      opacity: 0;
      transition: opacity .5s ease;
    }
  }
}

.card__search-btn {
  font-size: 20px;
  cursor: pointer;
  background-color: inherit;
  border: none;

  svg {
    width: 1.5em;
    height: 1.5em;

    fill: white;
    transition: fill .2s ease-in-out;
  }

  &:hover svg{
    fill:rgba(255, 255, 255, 0.781);
  }

  &:active svg{
    fill:rgba(255, 255, 255, 0.459);
  }
}

.card__city {
  margin-bottom: .5em;

  font-size: 40px;
}

.card__temperature {
  margin-bottom: .5em;

  font-size: 40px;
}

.card__icon {
  width: 60px;
  font-size: 40px;
  margin-bottom: .5em;
}

.card__description {
  text-transform: capitalize;
}

.card__more-info {
  display: flex;
  gap: 25%;
}

@media screen and (max-width: 500px){
  body {
    font-size: 15px;
  }

  .card__city {
    text-align: center;
    font-size: 30px;
  }

  .card__temperature {
    text-align: center;
    font-size: 30px;
  }
}

.slide-left {
  animation: slideLeftToRight 1s;
  animation-fill-mode: forwards;
}

.slide-right-to-left {
  animation: slideRightToLeft 1s;
  animation-fill-mode: forwards;
}

.vanish {
  animation: vanish .15s;
  animation-fill-mode: forwards;
}

.appear {
  animation: appear .15s;
  animation-fill-mode: forwards;
}

@keyframes vanish {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

@keyframes appear {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}


@keyframes slideRightToLeft {
  0% {
    transform: translateX(100vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideLeftToRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100vw);
  }
}

.visually-hidden {
  display: none;
}
